th,  td {
  border: 1px solid lightgray;
}

.group-title {
  margin: 1rem 0;
  font-size: 36px;
  text-align: center;
  padding: 1rem 0;
  display: none;
}

.space-horizontal {
  padding: 0 .5rem;
}

.space-horizontal-2x {
  padding: 0 2rem;
}

.space {
  padding: 1rem;
}

table {
  font-size: 6pt;
  display: none;
}

.print-button {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media print {

  .group-title {
    display: block;
  }
  .print-button {
    display:  none;
  }

  table {
    display: block;
  }
}

