<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Smarth Report</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter routerLink="/validacion-de-tickets">
        <span nz-icon nzType="container" nzTheme="outline" style="margin-right: 1rem"></span>
        <span>Validacion de tickets</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/reportes">
        <span nz-icon nzType="dashboard" nzTheme="outline" style="margin-right: 1rem"></span>
        <span>reportes</span>
      </li>
      <li nz-menu-item nzMatchRouter style="position: absolute; bottom: 10px" (click)="logout()">
        <span nz-icon nzType="dashboard" nzTheme="outline" style="margin-right: 1rem"></span>
        <span>Cerrar sesion</span>
      </li>

      <!--      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">-->
      <!--        <ul>-->
      <!--          <li nz-menu-item nzMatchRouter>-->
      <!--            <a>Basic Form</a>-->
      <!--          </li>-->
      <!--        </ul>-->
      <!--      </li>-->
    </ul>
  </nz-sider>
  <nz-layout style="width: 100%; min-width: calc(100vw - 250px)">
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
                  nz-icon
                  [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Smarth Report ©2023 powered by orthotech</nz-footer>
  </nz-layout>
</nz-layout>
