<nz-breadcrumb>
  <nz-breadcrumb-item>Inicio</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>validacion de tickets</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="container">
  <h1>Validacion de tickets</h1>
  <div class="flex">
    <nz-range-picker (keydown.enter)="getTickets()" [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>

    <input (keydown.enter)="getTickets()" style="width: 100px" nz-input placeholder="Nro serie" [(ngModel)]="series" />
    <input (keydown.enter)="getTickets()" style="width: 150px" nz-input placeholder="Nro de ticket" [(ngModel)]="ticketNumber" />

    <input (keydown.enter)="getTickets()" style="width: 150px" nz-input placeholder="Nombre de paciente" [(ngModel)]="name" />
    <input (keydown.enter)="getTickets()" style="width: 130px" nz-input placeholder="DNI de paciente" [(ngModel)]="dni" />
    <input (keydown.enter)="getTickets()" style="width: 100px" nz-input placeholder="Descripcion" [(ngModel)]="serviceName" />
    <button class="search-button" [disabled]="!date" nz-button nzType="primary" (click)="getTickets()" [nzLoading]="loading">
      <span nz-icon nzType="search"></span>
      Buscar
    </button>
  </div>



  <div>
    <app-ticket-table [data]="listOfData" [showValidationFunction]="true" (cancel)="cancel()" (confirm)="confirm($event)"></app-ticket-table>

  </div>
</div>


<ng-template #notificationTemplate>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
          <span class="ant-notification-notice-icon">
            <span nz-icon nzType="check-circle" style="color: #52c41a;"></span>
          </span>
      <div class="ant-notification-notice-message">Se valido el ticket con exito!</div>

    </div>
  </div>
</ng-template>
