

.flex {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.search-button {
  margin: 1rem 0 ;
  width: 100%
}

//new


.hidden {
  display: none;
}

.visible {
  display: block;
}

@media screen and (min-width: 1180px) {
  .visible {
    display: none;
  }

  .hidden {
    display: flex;
  }

  .search-button {
    width: auto
  }
}

