.container {
  margin: 1rem;
  position: relative;
}

.flex {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.search-button {
  margin: 1rem 0 ;
}

.excel-button {
  border-color: green
}

.pdf-button {
  border-color: red;
}


//pdf
.all-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  thead {
    font-size: 12px;
  }

  tbody {
    font-size: 10px;
  }
}
