.container {
  margin: 1rem;
}

.flex {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.search-button {
  margin: 1rem 0 ;
}

.excel-button {
  border-color: green
}

.pdf-button {
  border-color: red;
}
