<nz-breadcrumb>
  <nz-breadcrumb-item>Inicio</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>Reportes</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="container">
  <div style="display: flex; justify-content: space-between">
    <h1>Reportes</h1>
    <div>
      <button  nz-button  nzType="link" (click)="getTickets()"
              [nzLoading]="pdfLoading">
        <span nz-icon nzType="file-pdf" nzTheme="outline"></span>
        Descargar PDF
      </button>
      <button  nz-button  nzType="link" (click)="exportToExcel()"
              [nzLoading]="excelLoading">
        <span nz-icon nzType="file-excel" nzTheme="outline"></span>
        Descargar Excel

      </button>
    </div>
  </div>
  <div class="flex">
    <nz-range-picker (keydown.enter)="getTickets()" [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>

    <input (keydown.enter)="getTickets()" style="width: 100px" nz-input placeholder="Nro serie" [(ngModel)]="series" />
    <input (keydown.enter)="getTickets()" style="width: 150px" nz-input placeholder="Nro de ticket" [(ngModel)]="ticketNumber" />

    <input (keydown.enter)="getTickets()" style="width: 150px" nz-input placeholder="Nombre de paciente" [(ngModel)]="name" />
    <input (keydown.enter)="getTickets()" style="width: 130px" nz-input placeholder="DNI de paciente" [(ngModel)]="dni" />
    <input (keydown.enter)="getTickets()" style="width: 100px" nz-input placeholder="Descripcion" [(ngModel)]="serviceName" />
    <button class="search-button" [disabled]="!date" nz-button nzType="primary" (click)="getTickets()" [nzLoading]="loading">
      <span nz-icon nzType="search"></span>
      Buscar
    </button>
  </div>


  <div>
    <app-ticket-table [data]="listOfData" [showValidationFunction]="false"></app-ticket-table>

  </div>
</div>
