
.flex {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.search-button {
  margin: 1rem 0 ;
}

.excel-button {
  border-color: green
}

.pdf-button {
  border-color: red;
}



.hidden {
  display: none;
}

.visible {
  display: block;
}

@media screen and (min-width: 1180px) {
  .visible {
    display: none;
  }

  .hidden {
    display: flex;
  }

  .search-button {
    width: auto
  }
  .export-buttons {
    display: none !important;
  }
}

.export-buttons {
  display: flex;
  gap: 1rem;
  & button {
    flex: 1;
  }
}



//pdf
.all-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  thead {
    font-size: 12px;
  }

  tbody {
    font-size: 10px;
  }
}
